<%= link_to("Back to SDEL", {:action => 'list'}) %>

<h2>Edit SDEL</h2>

<%= form_for(:sdel, :url => {:action => 'update', :id => @sdel.id}) do |f| %>

<table>
	<tr>
		<th>SDEL</th>
		<td><%= f.text_field(:hashed_sdel) %></td>
	</tr>
</table>

<%= submit_tag("Update SDEL") %>

<% end %>