/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body {
	margin: 0;
	background: #d6d6d6;
}

h1, h2, h3 {
	margin: 0;
	margin-bottom: 10px;
}

.middle {
	width: 1000px;
	margin: 0 auto;
	clear: both;
}

#header {
	overflow: auto;
	background: blue;
}
#header a {color: #fff;}
#head1 {float: left; width: 300px; height: 140px; background: url(http://www.tradesupplyuk.eu/images/logonew.png) no-repeat center;}

#head2 {float: left; width: 400px; height: 140px;}
#head2Top {height: 80px; padding-top: 20px;}
#head2Bottom {height: 60px;}
#head2Top h1, h2 {text-align: center; color: #fff !important;}

#head3 {float: left; width: 300px; height: 140px;}
#head3Top {height: 80px; color: #fff;}
#head3Bottom {height: 60px;}

#nav {
	background: #333;
	border-radius: 5px;
	margin: 0px 10px;
	overflow: auto;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#nav li {
	float: left;
}
#nav a {
	display: block;
	padding: 7px 20px;
	text-decoration: none;
	color: #fff;
}
#nav a:hover {background: #999;}

div.alert {
	height: 25px;
	width: 400px;
	line-height: 25px;
	text-align: center;
	color: #313131;
	background: #5bd2ec;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #333;
	margin-bottom: 15px;
}

#container {
	min-height: 500px;
	background: #fff;
	padding-top: 10px;
}
.darkH {color: #313131 !important;}

#footer {
	height: 200px;
	background: #858585;
}
